{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
 {% block body %}
     <h2 class="page-header">Nowe zadanie</h2>
{{ form_start(form) }}
    {{  form_widget(form) }}
     <button type="submit" class="btn btn-primary">Wyślij</button>
{{ form_end(form) }}
{% endblock %}