{% extends "base.html.twig" %}

 {% block body %}
 <a href="/todos" class="btn btn-default">Wróć do listy zadań</a>
<hr>
     <h2>{{ todo.name }}</h2>
     <ul class="list-group">
         <li class="list-group-item">Kategoria: {{ todo.Category }}</li>
         <li class="list-group-item">Priorytet: {{ todo.Priority }}</li>
         <li class="list-group-item">Termin: <strong>{{ todo.dueDate|date('D M Y') }}</strong></li>
         <li class="list-group-item">Opis: {{ todo.description }}</li>
     </ul>
 {% endblock %}