{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
 {% block body %}
     <a href="/todos" class="btn btn-default">Wróć do listy zadań</a>
     <hr>
     <h2 class="page-header">Edycja zadania</h2>
     {{ form_start(form) }}
     {{  form_widget(form) }}
     <button type="submit" class="btn btn-primary">Edytuj</button>
     {{ form_end(form) }}
 {% endblock %}