{% extends "base.html.twig" %}

{% block body %}
    <h2 class="page-header">Zadania do wykonania</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Zadanie</th>
        <th scope="col">Termin</th>
        <th scope="col">Priorytet</th>
    </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
    <tr>
        <th scope="row">{{ todo.id }}</th>
        <td> {{ todo.description }}</td>
        <td> {{ todo.dueDate|date("d-m-y") }}</td>
        <td> {{ todo.priority }}</td>
        <td>
            <a href="todos/details/{{ todo.id }}" class="btn btn-success">Zobacz</a>
            <a href="todos/edit/{{ todo.id }}" class="btn btn-info">Edytuj</a>
            <a href="todos/delete/{{ todo.id | raw}}" class="btn btn-danger">Usuń</a>  <br>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>

{% endblock %}

